<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
<!--
	  <add name="PurchasingMP"
	       connectionString="Data Source=VFLO2QX67S2\SQLLOCAL;Initial Catalog=Purchasing MP;Persist Security Info=True;User ID=Purchasing;Password=804DB25AE7E043aE;"
	       providerName="System.Data.SqlClient" />
-->

    <add name="PurchasingMP"
		 connectionString="Data Source=DESKTOP-CRF4BMH;Initial Catalog=ToDoItem;Integrated Security=True;" 
	  providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>